
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course Management System</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
<div class ="container my-2">
    <h1>Student Details</h1>
    <div>
        <h4 th:text="${student.firstName}"></h4>
        <span th:if="${noCourses}" th:text="${noCourses}"></span>
        <ul th:if="${courseList}">
            <li th:each="course : ${courseList}">
                <span th:text="${course.courseName}"></span>
            </li>
        </ul>
    </div>

</div >
</body>
</html>